<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <h1>Access Denied. </h1>

    <p><span sec:authentication="name">User</span>, you do not have permission to access this page.</p>
    <br>
    <a th:href="@{/}" class="btn-link">Go Home</a>

</body>
</html>