<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="center-container">
        <h1 th:text="'Error ' + ${errorCode ?: 'page'}">Error</h1>
        <p th:text="${errorMessage ?: 'An unexpected error occurred.'}">An unexpected error occurred.</p>
        <br>
        <a th:href="@{/}" class="btn-link" th:text="'Back to Home'">Back to Home</a>
    </div>
</body>
</html>