/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для темной темы */
body {
    background-color: #333;
    color: #eaeaea;
    font-family: Arial, sans-serif;
    letter-spacing: 0.02vmax;
}

/* Стили для форм */
input, textarea, select {
    background-color: #444;
    color: #e1e1e1;
    border: 1px solid #555;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

/* Стили для кнопок */
button, .btn {
    background-color: #555;
    color: #e4e4e4;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.01vmax;
}

button:hover, .btn:hover {
    background-color: #666;
}

/* Стили для ссылок */
a {
    color: #98b4f4;
    text-decoration: none;
}

a:hover {
    color: #b5def8;
    text-decoration: underline;
}

/* Стили для ссылок, выглядящих как кнопки */
.btn-link {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #666;
}

/* Центрирование содержимого */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;     /* Центрирование по вертикали */
    height: 100vh;           /* Занимает всю высоту экрана */
    text-align: center;      /* Центрирование текста внутри контейнера */
}

/* Стили для заголовка и текста */
.center-container h1 {
    margin-bottom: 20px;    /* Отступ снизу для заголовка */
}

.center-container p {
    margin-bottom: 20px;    /* Отступ снизу для текста */
}

.header {
    display: flex;
    justify-content: space-between; /* Распределение элементов по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    background-color: #3e3e3e; /* Фоновый цвет заголовка */
    padding: 10px 20px; /* Отступы внутри заголовка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для заголовка */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Верхняя граница */
    width: 100%; /* Ширина на всю страницу */
    z-index: 1000; /* Выше остальных элементов */
}

/* Содержимое заголовка */
.header-content {
    display: flex;
    justify-content: space-between; /* Распределение элементов по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    width: 100%; /* Ширина на всю доступную ширину */
}

/* Левая часть заголовка */
.header-left {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
}

/* Правая часть заголовка */
.header-right {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    gap: 10px; /* Расстояние между элементами */
}

/* Форма логаута */
.logout-form {
    margin: 0; /* Убираем отступы */
}

/* Основной контент */
.content {
    margin-top: 60px; /* Отступ сверху, чтобы избежать перекрытия заголовком */
    padding: 20px; /* Отступы внутри контента */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между элементами */
}

/* Строка ввода поиска */
.search-bar {
    display: flex;
    align-items: center;
    padding-left: 190px;
}

.search-bar input {
    flex: 1; /* Занимает все доступное пространство */
    max-width: 850px; /* Ограничение максимальной ширины */
    margin-right: 4px;
}

button.clear-button {
    padding: 10px 7px;
}

.search-bar button {
    margin-left: 2px;
}

.main-container {
    display: flex;
    gap: 20px; /* Расстояние между action-buttons и breadcrumbs-table-container */
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
}

/* Контейнер для кнопок */
.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между кнопками */
    align-items: flex-start; /* Выравнивание кнопок по левому краю */
}

.action-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 170px; /* Фиксированная ширина для всех кнопок */
    text-align: center; /* Выравнивание текста по левому краю */
}

.action-button:hover {
    background-color: #666;
}

/* Иконки для кнопок */
.create-folder-button::before {
    content: '📁'; /* Иконка папки */
    /*margin-right: 10px;*/
    font-size: 16px;
}

.upload-file-button::before {
    content: '📂'; /* Иконка загрузки файла */
    /*margin-right: 10px;*/
    font-size: 16px;
}

.upload-folder-button::before {
    content: '🗂️'; /* Иконка загрузки папки */
    /*margin-right: 10px;*/
    font-size: 16px;
}

/* Контейнер для хлебных крошек и таблицы */
.breadcrumbs-table-container {
    flex: 1; /* Занимает все доступное пространство */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между хлебными крошками и таблицей */
}

/* Хлебные крошки */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap; /* Позволяет переноситься на новую строку */
    align-items: center;
    flex: 1; /* Занимает все доступное пространство */
    margin-right: 20px; /* Отступ от кнопок */
}

.breadcrumbs a {
    color: #c3ced1;
    text-decoration: none;
    margin-right: 0.2vmax;
}

.breadcrumbs a:hover {
    color: #b5def8;
    text-decoration: underline;
}

.breadcrumb-separator {
    margin: 0 0.0vmax; /* Небольшой пробел между слешами и именами папок */
}

/* Таблица файлов и папок */
.file-table {
    max-width: 68vmax;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px; /* Скругление углов таблицы */
    overflow: hidden; /* Скрытие переполнения для корректного скругления углов */
}

.file-table th, .file-table td {
    padding: 8px;
    line-height: 1.2;
    border: 1px solid #444;
    text-align: left;
}

.file-table th {
    background-color: #555;
    color: #fff;
    border-bottom: 1px solid #444; /* Добавление разделителя между заголовками и строками */
}

.file-table a {
    color: #eaeaea;
}

/* Стили для первой строки таблицы */
.file-table tbody tr:first-child td {
    border-top: 1px solid #444; /* Добавление верхней границы для первой строки */
}

/* Стили для последней строки таблицы */
.file-table tbody tr:last-child td {
    border-bottom: 1px solid #444; /* Добавление нижней границы для последней строки */
}

.file-table .size-column {
    text-align: right;
    width: 140px; /* Фиксированная ширина для столбца Size */
}

.file-table .actions-column {
    width: 100px; /* Фиксированная ширина для столбца Actions */
    text-align: center;
}

.file-table .actions {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.file-table .actions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.file-table .actions button:hover {
    opacity: 0.7;
}

/* Иконки */
.folder-icon {
    margin-right: 5px;
    font-size: 16px;
}

.file-icon {
    margin-right: 5px;
    font-size: 16px;
}

.icon-download, .icon-rename, .icon-delete {
    font-size: 16px;
}

/* Всплывающие окна */
.alert {
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal; /* Разрешаем перенос текста */
}

.alert-danger {
    background-color: #682127; /* Темно-красный фон */
    color: #f1f1f1; /* Белый текст */
    border: 1px solid #8b0000; /* Темная граница */
    padding: 15px;
    border-radius: 4px;
    margin-top: 22px;
    font-size: 16px;
    line-height: 1.3;
    word-wrap: break-word; /* Перенос длинных слов */
    letter-spacing: 0.05vmax; /* Увеличение расстояния между буквами */
    text-shadow:
            -1px -1px 0 #333,
            1px -1px 0 #333,
            -1px  1px 0 #333,
            1px  1px 0 #333; /* Темно-серая обводка */
}

/* Модальные окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    overflow: auto;
}

.modal-content {
    background-color: #3e3e3e; /* Темный фон */
    margin: 10% auto; /* Отступ сверху и по центру */
    padding: 20px;
    border: 1px solid #505050;
    border-radius: 8px;
    width: 44%; /* Ширина модального окна */
    max-width: 600px; /* Максимальная ширина */
    position: relative;
    color: #eaeaea; /* Белый текст */
}

.modal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #f8f8f8;
    text-decoration: none;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.modal form input {
    width: 100%;
}

.modal form button {
    align-self: center;
    width: 50%;
}

.filename-input-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filename-input-container input {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #e1e1e1;
}

#newFileName {
    flex: 1;
}

#fileExtension {
    width: 60px; /* Ширина поля для расширения */
}

.extension-separator {
    color: #e1e1e1;
    font-size: 16px;
}