<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="header-left">
                <a href="/" class="home-link">Home</a>
            </div>
            <div class="header-right">
                <span sec:authentication="name">User</span>
                <form th:action="@{/auth/logout}" method="post" class="logout-form">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </header>
    <div class="content">
        <!-- Строка ввода поиска -->
        <form action="/search" method="get" class="search-bar">
            <input type="text" id="search-query" placeholder="Search..." th:value="${searchQuery}"  maxlength="100" />
<!--            <button class="clear-button" onclick="document.getElementById('search-query').value = '';">X</button>-->
            <button class="search-button">Search</button>
        </form>

        <!-- Контейнер для кнопок и хлебных крошек+таблицы -->
        <div class="main-container">
            <!-- Контейнер для кнопок -->
            <div class="action-buttons">
                <form th:action="@{/create-folder}" method="post" class="action-form-create-folder">
                    <input type="hidden" name="path" th:value="${path}" />
                    <input type="text" name="newFolderName" placeholder="New folder name" required />
                    <br>
                    <button type="submit" class="action-button create-folder-button">Create Folder</button>
                </form>
                <br>
                <button class="action-button upload-file-button">Upload File</button>
                <button class="action-button upload-folder-button">Upload Folder</button>
            </div>
            <!-- Контейнер для хлебных крошек и таблицы -->
            <div class="breadcrumbs-table-container">
                <!-- Хлебные крошки -->
                <div class="breadcrumbs">
                    <a href="/" class="home-crumb">🏠</a>
                    <span th:each="crumb, iterStat : ${breadcrumbs}">
                        <span class="breadcrumb-separator">/</span>
                        <a th:if="${not iterStat.last}" th:href="@{/(path=${crumb.path()})}" th:text="${crumb.name()}"></a>
                        <span th:if="${iterStat.last}" th:text="${crumb.name()}" style="font-weight: bold"></span>
                    </span>
                </div>
                <!-- Сообщения об успешном создании и ошибках -->
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Таблица файлов и папок -->
                <table class="file-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="size-column">Size</th>
                        <th class="actions-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}" th:if="${item.isFolder()}">
                        <td>
                            <span class="folder-icon">&#128193;</span>
                            <a th:href="@{/(path=${item.relativePath()})}" th:text="${item.getName()}"></a>
                        </td>
                        <td class="size-column" th:text="'-'"></td>
                        <td class="actions-column">
                            <div class="actions">
                                <button class="download-button" title="Download">
                                    <span class="icon-download">⬇️</span>
                                </button>
                                <button class="rename-button" title="Rename">
                                    <span class="icon-rename">📝</span>
                                </button>
                                <button class="delete-button" title="Delete">
                                    <span class="icon-delete">❌</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="item : ${items}" th:if="${not item.isFolder}">
                        <td>
                            <span class="file-icon">&#128462;</span>
                            <span th:text="${item.getName()}"></span>
                        </td>
                        <td class="size-column" th:text="${item.size() + ' bytes'}"></td>
                        <td class="actions-column">
                            <div class="actions">
                                <button class="download-button" title="Download">
                                    <span class="icon-download">⬇️</span>
                                </button>
                                <button class="rename-button" title="Rename">
                                    <span class="icon-rename">📝</span>
                                </button>
                                <button class="delete-button" title="Delete">
                                    <span class="icon-delete">❌</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- JavaScript для закрытия всплывающих окон -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const closeButtons = document.querySelectorAll('.alert .close');
            closeButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const alert = this.closest('.alert');
                    if (alert) {
                        alert.style.display = 'none';
                    }
                });
            });
        });
    </script>

</body>
</html>