<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="header-left">
                <i class="fa-solid fa-cloud"></i><a href="/" class="home-link">Cloud file storage</a>
            </div>
            <div class="header-right">
                <span sec:authentication="name">User</span>
                <form th:action="@{/auth/logout}" method="post" class="logout-form">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </header>
    <div class="content">

        <!-- Строка ввода поиска -->
        <form th:action="@{/search}" method="get" class="search-bar">
            <input type="text" id="search-query" placeholder="Search..." name="searchQuery" th:value="${searchQuery}" maxlength="100" />
            <!-- Кнопка очистки -->
            <button type="button" class="clear-button" onclick="clearSearch()">
                <i class="fa fa-xmark"></i> <!-- Иконка крестика -->
            </button>
            <!-- Кнопка поиска -->
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i> <!-- Иконка лупы -->
            </button>
        </form>

        <!-- Контейнер для кнопок и хлебных крошек+таблицы -->
        <div class="main-container">

            <!-- Контейнер для кнопок -->
            <div class="action-buttons">
                <button class="action-button create-folder-button" onclick="openCreateFolderModal()">
                    <i class="fa-solid fa-folder-plus"></i> Create Folder
                </button>
                <br>
                <form id="uploadFileForm" th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="path" th:value="${path}" />
                    <input type="file" id="fileInput" name="file" required style="display: none;"
                           onchange="uploadFile()"/>
                    <button type="button" class="action-button upload-file-button"
                            onclick="document.getElementById('fileInput').click()">
                        <i class="fa-solid fa-file-arrow-up"></i> Upload File
                    </button>
                </form>
                <form id="uploadFolderForm" th:action="@{/folder/upload}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="path" th:value="${path}" />
                    <input type="file" id="folderInput" name="files" webkitdirectory directory style="display: none;"
                           onchange="uploadFolder()"/>
                    <button type="button" class="action-button upload-folder-button"
                            onclick="document.getElementById('folderInput').click()">
                        <i class="fa-solid fa-upload"></i> Upload Folder
                    </button>
                </form>
                <div class="storage-badge">
                    <div class="storage-header">
                        <i class="fa-solid fa-hard-drive"></i> Storage
                    </div>
                    <div class="storage-values">
                        <div class="storage-current" th:classappend="${storageInfo.usageClass}"
                             th:title="${storageInfo.currentSize * 100 / storageInfo.maxSize} + '%'">
                            <span class="label">Current:</span>
                            <span class="value" th:text="${storageInfo.formattedCurrentSize}"></span>
                        </div>
                        <div class="storage-max">
                            <span class="label">Maximum:</span>
                            <span class="value" th:text="${storageInfo.formattedMaxSize}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Контейнер для хлебных крошек и таблицы -->
            <div class="breadcrumbs-table-container">

                <!-- Хлебные крошки -->
                <div class="breadcrumbs">
                    <a href="/" class="home-crumb"><i class="fa-solid fa-house"></i></a>
                    <span th:each="crumb, iterStat : ${breadcrumbs}">
                        <span class="breadcrumb-separator">/</span>
                        <a th:if="${not iterStat.last}" th:href="@{/(path=${crumb.path()})}" th:text="${crumb.name()}"></a>
                        <span th:if="${iterStat.last}" th:text="${crumb.name()}" style="font-weight: bold"></span>
                    </span>
                </div>

                <!-- Таблица файлов и папок -->
                <table class="file-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="size-column">Size</th>
                        <th class="actions-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}" th:if="${item.isFolder()}">
                        <td>
                            <span class="folder-icon"><i class="fa-solid fa-folder"></i></span>
                            <a th:href="@{/(path=${item.relativePath()})}" th:text="${item.getName()}"></a>
                        </td>
                        <td class="size-column" th:text="'-'"></td>
                        <td class="actions-column">
                            <div class="actions">
                                <form th:action="@{/folder/download}" method="get">
                                    <input type="hidden" name="path" th:value="${path}" />
                                    <input type="hidden" name="folderName" th:value="${item.getName()}" />
                                    <button type="submit" class="download-button" title="Download">
                                        <i class="fa-solid fa-download"></i>
                                    </button>
                                </form>
                                <button class="rename-button" title="Rename"
                                        th:attr="onclick='openRenameFolderModal(\'' + ${item.getName()} + '\')'">
<!--                                    <i class="fa-solid fa-pencil"></i> <i class="fa-solid fa-pen-fancy"></i>-->
                                    <i class="fa-solid fa-file-pen"></i>
                                </button>
                                <form th:action="@{/folder/delete}" method="post">
                                    <input type="hidden" name="path" th:value="${path}" />
                                    <input type="hidden" name="folderToDelete" th:value="${item.getName()}" required />
                                    <button class="delete-button" title="Delete">
<!--                                        <i class="fa-solid fa-xmark"></i>-->
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="item : ${items}" th:if="${not item.isFolder}">
                        <td>
                            <span class="file-icon"><i class="fa-regular fa-file-lines"></i></span>
                            <span th:text="${item.getName()}"></span>
                        </td>
                        <td class="size-column" th:text="${item.getFormattedSize()}"></td>
                        <td class="actions-column">
                            <div class="actions">
                                <form th:action="@{/file/download}" method="get">
                                    <input type="hidden" name="path" th:value="${path}" />
                                    <input type="hidden" name="fileName" th:value="${item.getName()}" />
                                    <button type="submit" class="download-button" title="Download">
                                        <i class="fa-solid fa-download"></i>
                                    </button>
                                </form>
                                <button class="rename-button" title="Rename"
                                        th:attr="onclick='openRenameFileModal(\'' + ${item.getName()} + '\')'">
                                    <i class="fa-solid fa-file-pen"></i>
                                </button>
                                <form th:action="@{/file/delete}" method="post">
                                    <input type="hidden" name="path" th:value="${path}" />
                                    <input type="hidden" name="fileToDelete" th:value="${item.getName()}" required />
                                    <button class="delete-button" title="Delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Модальное окно для создания папки -->
    <div id="createFolderModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeCreateFolderModal()">&times;</span>
            <form th:action="@{/folder/create}" method="post">
                <input type="hidden" name="path" th:value="${path}" />
                <input type="text" name="newFolderName" placeholder="New folder name" required />
                <button type="submit" class="action-button">Create</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для переименования папки -->
    <div id="renameFolderModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeRenameFolderModal()">&times;</span>
            <form th:action="@{/folder/rename}" method="post">
                <input type="hidden" name="path" th:value="${path}" />
                <input type="hidden" id="folderToRename" name="folderToRename" />
                <input type="text" id="newFolderName" name="newFolderName" placeholder="New folder name" required />
                <button type="submit" class="action-button">Rename</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для переименования файла -->
    <div id="renameFileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeRenameFileModal()">&times;</span>
            <form id="renameFileForm" th:action="@{/file/rename}" method="post">
                <input type="hidden" name="path" th:value="${path}" />
                <input type="hidden" id="fileToRename" name="fileToRename" />
                <input type="hidden" id="newFileName" name="newFileName" />
                <div class="filename-input-container">
                    <input type="text" id="fileNameWithoutExtension" name="fileNameWithoutExtension"
                           placeholder="New file name" required />
                    <span class="extension-separator">.</span>
                    <input type="text" id="fileExtension" name="fileExtension" placeholder="ext" maxlength="4"
                           pattern="[A-Za-z0-9]{1,4}" title="Enter only English letters and numbers (max 4 characters)"/>
                </div>
                <button type="submit" class="action-button">Rename</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для отображения ошибки -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeErrorModal()">&times;</span>
            <div id="errorMessage" class="alert alert-danger" role="alert"></div>
        </div>
    </div>

    <!-- JavaScript для закрытия всплывающих окон -->
    <script>
        function openCreateFolderModal() {
            document.getElementById('createFolderModal').style.display = 'block';
        }

        function closeCreateFolderModal() {
            document.getElementById('createFolderModal').style.display = 'none';
        }

        function openRenameFolderModal(folderName) {
            document.getElementById('folderToRename').value = folderName;
            document.getElementById('newFolderName').value = folderName;
            document.getElementById('renameFolderModal').style.display = 'block';
        }

        function closeRenameFolderModal() {
            document.getElementById('renameFolderModal').style.display = 'none';
        }

        function openRenameFileModal(fileName) {
            // Разделяем имя файла и расширение
            const lastDotIndex = fileName.lastIndexOf('.');
            let nameWithoutExtension = fileName;
            let extension = '';

            // Если точка найдена и она не является последним символом
            if (lastDotIndex !== -1 && lastDotIndex < fileName.length - 1) {
                const potentialExtension = fileName.substring(lastDotIndex + 1);

                // Проверяем длину расширения
                if (potentialExtension.length <= 4) {
                    nameWithoutExtension = fileName.substring(0, lastDotIndex);
                    extension = potentialExtension;
                }
                // Если расширение длиннее 4 символов, считаем его частью имени файла
            }

            // Устанавливаем значения в поля ввода
            document.getElementById('fileToRename').value = fileName; // Исходное имя файла
            document.getElementById('fileNameWithoutExtension').value = nameWithoutExtension;
            document.getElementById('fileExtension').value = extension;

            // Открываем модальное окно
            document.getElementById('renameFileModal').style.display = 'block';
        }

        function closeRenameFileModal() {
            document.getElementById('renameFileModal').style.display = 'none';
        }

        // Обработка отправки формы переименования файла
        document.getElementById('renameFileForm').addEventListener('submit', function(event) {
            // Получаем значения из полей ввода
            const fileNameWithoutExtension = document.getElementById('fileNameWithoutExtension').value.trim();
            const fileExtension = document.getElementById('fileExtension').value.trim();

            // Склеиваем имя и расширение
            const newFileName = fileNameWithoutExtension + (fileExtension ? `.${fileExtension}` : '');

            // Устанавливаем склеенное значение в новое поле
            document.getElementById('newFileName').value = newFileName;

            // Если нужно, можно добавить валидацию
            if (!fileNameWithoutExtension) {
                alert('Имя файла не может быть пустым');
                event.preventDefault(); // Отменяем отправку формы
            }
        });

        // разрешить для расширения только 4 английских символа или цифры
        document.getElementById('fileExtension').addEventListener('input', function(event) {
            // Убираем все символы, кроме английских букв и цифр
            this.value = this.value.replace(/[^A-Za-z0-9]/g, '');
        });

        // Открытие модального окна с ошибкой
        function openErrorModal(errorMessage) {
            document.getElementById('errorMessage').textContent = errorMessage;
            document.getElementById('errorModal').style.display = 'block';
        }

        // Закрытие модального окна с ошибкой
        function closeErrorModal() {
            document.getElementById('errorModal').style.display = 'none';
        }

        // Закрытие модального окна при клике вне его
        window.onclick = function(event) {
            const createModal = document.getElementById('createFolderModal');
            const renameFolderModal = document.getElementById('renameFolderModal');
            const renameFileModal = document.getElementById('renameFileModal');
            const errorModal = document.getElementById('errorModal');
            if (event.target === createModal) {
                createModal.style.display = 'none';
            }
            if (event.target === renameFolderModal) {
                renameFolderModal.style.display = 'none';
            }
            if (event.target === renameFileModal) {
                renameFileModal.style.display = 'none';
            }
            if (event.target === errorModal) {
                closeErrorModal();
            }
        }

        // Закрытие сообщения в модальном окне
        document.addEventListener('DOMContentLoaded', function() {
            const closeButtons = document.querySelectorAll('.alert .close');
            closeButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const alert = this.closest('.alert');
                    if (alert) {
                        alert.style.display = 'none';
                    }
                });
            });
        });

        <!-- Управление загрузкой файла -->
        function uploadFile() {
            const form = document.getElementById('uploadFileForm');
            form.submit();
        }

        <!-- Управление загрузкой папки -->
        function uploadFolder() {
            const form = document.getElementById('uploadFolderForm');
            const pathInput = form.querySelector('input[name="path"]');
            const folderInput = form.querySelector('input[name="files"]');

            // Получаем название выбранной папки
            const folderName = folderInput.files[0]?.webkitRelativePath.split('/')[0];

            // Добавляем название папки как скрытый параметр
            const folderNameInput = document.createElement('input');
            folderNameInput.type = 'hidden';
            folderNameInput.name = 'folderName';
            folderNameInput.value = folderName;
            form.appendChild(folderNameInput);

            // Отправляем форму
            form.submit();
        }

        // кнопка очисти строки поиска
        function toggleClearButton() {
            const searchInput = document.getElementById('search-query');
            const clearButton = document.querySelector('.clear-button');
            if (searchInput.value.trim() !== '') {
                clearButton.style.display = 'flex'; // Показываем кнопку
            } else {
                clearButton.style.display = 'none'; // Скрываем кнопку
            }
        }

        // кнопка очисти строки поиска
        function clearSearch() {
            const searchInput = document.getElementById('search-query');
            searchInput.value = ''; // Очищаем поле ввода
            searchInput.focus(); // Возвращаем фокус на поле ввода
            toggleClearButton(); // Скрываем кнопку
        }

        // кнопка очисти строки поиска. Инициализация при загрузке страницы
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('search-query');
            searchInput.addEventListener('input', toggleClearButton); // Отслеживаем ввод
            toggleClearButton(); // Проверяем начальное состояние
        });

    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            const errorMessage = /*[[${errorMessage}]]*/ null;
            if (errorMessage) {
                openErrorModal(errorMessage);
            }
        });
        /*]]>*/
    </script>

</body>
</html>